.header{
    width: 80%;
    height: 5%;
    left: 20%;
    background: #90e0ef;
    position: absolute;
    text-align: center;
    border: #48cae4;
    border-style: solid;
    border-width: 1px;
    border-left-width: 0px;
}

.siteContent{
    position: absolute;
    height: 95%;
    width: 80%;
    left: 20%;
    top: 5%;
    background:#ade8f4;
    justify-content: center;
    text-align: center;
}

.head{
    border-color: #48cae4;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    vertical-align: top;
    background: #90e0ef;
    text-align: center;

    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    left: inherit;
    top: 0px;
    width: 100%;
    height: 5%;
}

head:hover{
    cursor: pointer;
    background: #ade8f4;
    border-radius: 2%;
}

.contentBlock{
    width: 250px;
    height: 350px;
    border-color: #48cae4;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    vertical-align: top;
    background: #90e0ef;
    text-align: center;
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    width: 100%;
    height: 3%
}

.cell:hover{
    cursor: pointer;
    background: #ade8f4;
}

.sidePanel{
    background: #90e0ef;
    border-color: #48cae4;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    position: inherit;
    top: 50px;
    left: inherit;
    height: 100%;
    width: 20%;
}

body{
    font-family: 'Trebuchet MS';
    display: block;
    background: #ffffff;
    color: #03045e;

    width: 100%;
    height: 100%;
}